.bground {
  background: #fff;
}

span, a {
  text-decoration: none;
  color: #000;
}

p, a  {
  text-decoration: none;
}
.error{
  color: red;
  font-weight: bold;
}
.btn {
  background: #000;
  color: #fff;
}
